<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag    'meals', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'meals', 'data-turbolinks-track': 'reload' %>
</head>
<body id="photograph">
    <div class="content">
        <div class="main">
            <p>本日のおすすめ　  「<%= @random['recipeTitle']%>」</p>
            <%= form_tag("/meal/in_submit") do %>
                <input type="submit" value="くわしく見る">
                <input type="hidden" name="title" value="<%= "#{@random['recipeTitle']}" %>">
                <input type="hidden" name="cost" value="<%= "#{@random['recipeCost'].to_i}" %>">
                <input type="hidden" name="image" value="<%= "#{@random['foodImageUrl']}" %>">
                <input type="hidden" name="time" value="<%= "#{@random['recipeIndication']}" %>">
            <% end %>
        </div>
        <section id="food">
        <h2 class="icon">カテゴリ選択</h2>
            <div class="japanesefood"><img src="/categories/japanese_pic.jpg" alt="日本料理" width=300 height=250><p>和食</p>
            </div>
            <div class="chinesefood"><img src="/categories/chinese_pic.jpg" alt="中華料理" width=300 height=250><p>中華</p>
            </div>
            <div class="italianfood"><img src="/categories/Italian_pic.jpg" alt="イタリア料理" width=300 height=250><p>イタリアン</p>
            </div>
            <div class="exeptfood"><img src="/categories/exept_pic.jpg" alt="その他の人気メニュー" width=300 height=250><p><%= @categories[0]['categoryName'] %></p>
            </div>
            </ul>
        </section>
    </div>
</body>
</html>