<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag    'meals', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'meals', 'data-turbolinks-track': 'reload' %>
</head>
<body id="photograph">
    <div class="content">
        <div class="main">
            <p>本日のおすすめ</p>　  
            <h2>「<%= @random['recipeTitle']%>」</h2>
            <%= form_tag("/meal/in_submit") do %>
                <input type="submit" value="くわしく見る">
                <input type="hidden" name="title" value="<%= "#{@random['recipeTitle']}" %>">
                <input type="hidden" name="cost" value="<%= "#{@random['recipeCost'].to_i}" %>">
                <input type="hidden" name="image" value="<%= "#{@random['foodImageUrl']}" %>">
                <input type="hidden" name="time" value="<%= "#{@random['recipeIndication']}" %>">
            <% end %>
        </div>
        <section id="food">
        <h2 class="icon">カテゴリ選択</h2>
            <div class="japanesefood">
                <div class="large">
                    <p>和食</p>
                    <img src="/categories/japanese_pic.jpg" alt="日本料理" width=300 height=250>
                </div>
                <div class="medium">
                    <p>野菜たっぷり！！鮭のちゃんちゃん焼き</p>
                    <p>プロ直伝の筑前煮</p>
                    <p>母の味☆ひっつみ（すいとん）</p>
                    <p>手軽で簡単☆きりたんぽ鍋</p>
                </div>
            </div>
            <div class="japanesefood">
                <div class="large">
                    <p>中華</p>
                    <img src="/categories/chinese_pic.jpg" alt="中華料理" width=300 height=250>
                </div>
                <div class="medium">
                    <p>本格！麻婆豆腐 ☆　美味しい　☆</p>
                    <p>ご飯がすすむ♪　麻婆白菜☆</p>
                    <p>甜麺醤なしで出来る！簡単 ホイコーロー</p>
                    <p>簡単おいしい！我が家のチンジャオロース（青椒肉絲）</p>
                </div>
            </div>
            <div class="japanesefood">
                <div class="large">
                    <p>イタリアン</p>
                    <img src="/categories/Italian_pic.jpg" alt="イタリア料理" width=300 height=250>
                </div>
                <div class="medium">
                    <p>簡単！失敗なし！生クリーム不要！濃厚カルボナーラ♪</p>
                    <p>小麦粉だけで作る生地！すぐできる簡単ピザ</p>
                    <p>野菜がおいしいミネストローネ</p>
                    <p>キノコとベーコンの簡単チーズリゾット</p>
                </div>
            </div>
            <div class="japanesefood">
                <div class="large">
                    <p>人気メニュー</p>
                    <img src="/categories/exept_pic.jpg" alt="その他の人気メニュー" width=300 height=250>
                </div>
                <div class="medium">
                    <p>流出なし！簡単とろ～りチーズのハムカツ♡</p>
                    <p>サクサクでジューシーな鶏天</p>
                    <p>ジューシーな餃子☆</p>
                    <p>プロ直伝！豚の生姜焼き</p>
                </div>
            </div>
            <div class="clear"></div>
        </section>
    </div>
</body>
</html>